{% extends 'base.html' %}

{% block main_content %}
<main>
    <section class="p-5">
        <div class="text-center">
            <h2 class="text-success fw-bold">Potato Crop Disease Classification</h2>
            <h4>Check if your Potato crops has any of the symptoms of <span class="fw-bold text-danger">Early
                    Blight</span> or <span class="fw-bold text-danger">Late Blight</span> and prevent your loss</h4>
            <div class="container">
                <form action="/potato/predict_pcdc" method="post" enctype="multipart/form-data" class="mt-5">
                    <div class="px-5 mx-5">
                        <label for="formFileLg" class="form-label fw-bold">Upload an image of your potato plant
                            leave</label>
                        <input id="potato_leave_image" class="form-control form-control-lg" name="file" type="file" accept="image/*">
                    </div>
                    <div class="text-center">
                        <button id="potato_leave_image_submit" class="btn btn-lg btn-outline-success mt-2 fw-bold" type="submit" disabled="false">Analyze</button>
                    </div>
                </form>
            </div>
        </div>
        {% if status %}
        <div class="container mt-5 text-center result-area">
            {% if status == 'Healthy' %}
            <h2><span class="text-dark fw-bold">CONDITION :</span>&nbsp;&nbsp;<span class="text-success fw-bold">{{status}}</span></h2>
            {% else %}
            <h2><span class="text-dark fw-bold">CONDITION :</span>&nbsp;&nbsp;<span class="text-danger fw-bold">{{status}}</span></h2>
            {%endif%}
            <h5><span class="text-dark fw-bold">CONFIDENCE :</span>&nbsp;&nbsp;<span class="fw-bold">{{confidence}}</span></h5>
        </div>
        {% endif %}
        <div class="container mt-5">
            <h4 class="text-center">Frequently Asked Question</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      What is Early Blight?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><span class="fw-bold">Early blight</span> of potato is caused by the fungal pathogen Alternaria solani. The disease affects leaves, stems and tubers and can reduce yield, tuber size, storability of tubers, quality of fresh-market and processing tubers and marketability of the crop. <br><a href="https://www.ag.ndsu.edu/publications/crops/early-blight-in-potato">know more --></a></div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      What is Late Blight?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><span class="fw-bold">Late blight</span> is caused by the funguslike oomycete pathogen Phytophthora infestans. This potentially devastating disease can infect potato foliage and tubers at any stage of crop development. <br><a href="https://www.ag.ndsu.edu/publications/crops/late-blight-in-potato">know more --></a></div>
                  </div>
                </div>
              </div>
        </div>
    </section>
</main>
{% endblock main_content %}

{% block bottom_nav %}
<div class="my-2">
    <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="/" style="text-decoration:none;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Potato</li>
            <li class="breadcrumb-item"><a href="/pepper_bell" style="text-decoration:none;">Pepper</a></li>
        </ol>
    </nav>
</div>
{% endblock bottom_nav %}